@media only screen and (max-width: 414px){
    body{
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        background-color: black;
    }
    
    #playlist{
     
    
        margin: 0;
    
        display: flex;
        height: 75%;
        /* align-items: center; */
        /* align-content: center; */
        justify-content: space-around;
    }
    
    
    #final-video{
        margin: 0;
    }
    
    
    
    
    .bg-img{
        width: 100%;
    
        position: absolute;
        z-index: -1;
        margin: 0;
    }
    
    .gif{
        padding-top: 11%;
        max-width: 120px;
        height: auto;
    } 
     
     
    
    
    .show{
        display: block;
    }
    
    .hide{
        display: none;
    }

     
}

/* @media only screen and (max-width: 1100px){
    .gif{
        padding-top: 11%;
        max-width: 290px;
        max-height: 210px;
    } 
     
}

@media only screen and (max-width: 945px){
    .gif{
        padding-top: 11%;
        max-width: 250px;
        max-height: 190px;
    } 
     
}

@media only screen and(max-width: 800px){
    .gif{
        padding-top: 11%;
        max-width: 80px;
        max-height: 185px;
    } 
     

}

 */
